.jumbotron {
    background-color: rgba(242, 210, 99, 1);
    color: black;
    margin-top: 50px;
}

img{
    height: 50px;
    width: 50px;
}

/* Div hotel Reserva */
.card-hotel {
    flex: 1 200px;
    margin-top: 10px;

}
.btn-reserva {
    width: 100%;
    border-radius: 0;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgba(242, 210, 99, 1);
    margin-bottom: 0;
    margin-top: 10px;
}

.footer-address-icon {
    padding: 0 7px 0 0;
}

.tab-content {
    padding-top: 10px;
}